In [24]:
#Setting up

##required packages

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

df=pd.read_csv("Butterflydata.csv")

##Get overview
display(df)
df.info()
dfClean = df.copy()
print('Copied DataFrame')
print(dfClean)

,Farm,Region,Patch_No,YEAR,Shelter,Butts,ButtSp,Flowers,FlowerSp,Concerns,Experience,Motivation,PCSemi_Nat,NBN,Temp,Wind,Summ_Max
0,E4.11,L1,P1,2007,6.0,4,1,1407,6,3.33,2,s2,14.8,24,22.75,2.000000,21.040000
1,E4.11,L1,P2,2007,6.0,9,1,421,6,3.33,2,s2,14.8,24,23.00,2.000000,21.040000
2,E4.11,L1,P3,2007,3.0,0,0,1,1,3.33,2,s2,14.8,24,22.50,2.250000,21.040000
3,E4.11,L1,P1,2008,6.0,25,4,29,3,3.33,2,s2,14.8,24,21.00,0.833333,20.703226
4,E4.11,L1,P2,2008,6.0,7,3,0,0,3.33,2,s2,14.8,24,21.00,1.500000,20.703226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,W4.5,L2,P3,2008,0.0,0,0,59,3,2.67,1,s2,7.5,32,16.00,2.500000,18.609375
118,W4.8,L2,P1,2007,2.0,5,2,92,3,3.00,4,s1,9.3,26,21.00,2.500000,18.051587
119,W4.8,L2,P2,2007,2.5,4,2,88,3,3.00,4,s1,9.3,26,21.00,3.000000,18.051587
120,W4.8,L2,P1,2008,2.0,6,2,10,4,3.00,4,s1,9.3,26,23.00,2.000000,17.587931
121,W4.8,L2,P2,2008,2.5,4,2,9,2,3.00,4,s1,9.3,26,25.00,1.750000,17.587931

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Farm        122 non-null    object
 1   Region      122 non-null    object
 2   Patch_No    122 non-null    object
 3   YEAR        122 non-null    int64
 4   Shelter     122 non-null    float64
 5   Butts       122 non-null    int64
 6   ButtSp      122 non-null    int64
 7   Flowers     122 non-null    int64
 8   FlowerSp    122 non-null    int64
 9   Concerns    122 non-null    float64
 10  Experience  122 non-null    int64
 11  Motivation  122 non-null    object
 12  PCSemi_Nat  122 non-null    float64
 13  NBN         122 non-null    int64
 14  Temp        122 non-null    float64
 15  Wind        122 non-null    float64
 16  Summ_Max    122 non-null    float64
dtypes: float64(6), int64(7), object(4)
memory usage: 16.3+ KB
Copied DataFrame
      Farm Region Patch_No  YEAR  Shelter  Butts  ButtSp  Flowers  FlowerSp  \
0    E4.11     L1       P1  2007      6.0      4       1     1407         6
1    E4.11     L1       P2  2007      6.0      9       1      421         6
2    E4.11     L1       P3  2007      3.0      0       0        1         1
3    E4.11     L1       P1  2008      6.0     25       4       29         3
4    E4.11     L1       P2  2008      6.0      7       3        0         0
..     ...    ...      ...   ...      ...    ...     ...      ...       ...
117   W4.5     L2       P3  2008      0.0      0       0       59         3
118   W4.8     L2       P1  2007      2.0      5       2       92         3
119   W4.8     L2       P2  2007      2.5      4       2       88         3
120   W4.8     L2       P1  2008      2.0      6       2       10         4
121   W4.8     L2       P2  2008      2.5      4       2        9         2

     Concerns  Experience Motivation  PCSemi_Nat  NBN   Temp      Wind  \
0        3.33           2         s2        14.8   24  22.75  2.000000
1        3.33           2         s2        14.8   24  23.00  2.000000
2        3.33           2         s2        14.8   24  22.50  2.250000
3        3.33           2         s2        14.8   24  21.00  0.833333
4        3.33           2         s2        14.8   24  21.00  1.500000
..        ...         ...        ...         ...  ...    ...       ...
117      2.67           1         s2         7.5   32  16.00  2.500000
118      3.00           4         s1         9.3   26  21.00  2.500000
119      3.00           4         s1         9.3   26  21.00  3.000000
120      3.00           4         s1         9.3   26  23.00  2.000000
121      3.00           4         s1         9.3   26  25.00  1.750000

      Summ_Max
0    21.040000
1    21.040000
2    21.040000
3    20.703226
4    20.703226
..         ...
117  18.609375
118  18.051587
119  18.051587
120  17.587931
121  17.587931

[122 rows x 17 columns]

In [25]:
##Removing unnided columns 
dfClean = dfClean.drop(['Region', 'Experience', 'Concerns', 'Motivation', 'NBN', 'Temp', 'Wind'], axis=1)
##Clean DataFrame
print(dfClean)

      Farm Patch_No  YEAR  Shelter  Butts  ButtSp  Flowers  FlowerSp  \
0    E4.11       P1  2007      6.0      4       1     1407         6
1    E4.11       P2  2007      6.0      9       1      421         6
2    E4.11       P3  2007      3.0      0       0        1         1
3    E4.11       P1  2008      6.0     25       4       29         3
4    E4.11       P2  2008      6.0      7       3        0         0
..     ...      ...   ...      ...    ...     ...      ...       ...
117   W4.5       P3  2008      0.0      0       0       59         3
118   W4.8       P1  2007      2.0      5       2       92         3
119   W4.8       P2  2007      2.5      4       2       88         3
120   W4.8       P1  2008      2.0      6       2       10         4
121   W4.8       P2  2008      2.5      4       2        9         2

     PCSemi_Nat   Summ_Max
0          14.8  21.040000
1          14.8  21.040000
2          14.8  21.040000
3          14.8  20.703226
4          14.8  20.703226
..          ...        ...
117         7.5  18.609375
118         9.3  18.051587
119         9.3  18.051587
120         9.3  17.587931
121         9.3  17.587931

[122 rows x 10 columns]